body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #d50606;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 18px;
    color: blue;
}


p {
    margin: 0;
    line-height: 1.5;
}

li:last-child {
    border-bottom: none;
}