
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    overflow: hidden;
}


.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/back.jpg);
    background-position: center;
    background-size: cover;
}

header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ol{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}
header ol a,header a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.logo{
    font-size:19px;
    padding: 10px 20px;
    border-radius: 10px  0px 10px 0px;
    margin: 0 5px;
    transition:  .3s all ease-in;
}
header ol a li{
    font-size:17px;
    padding: 10px 20px;
    border-radius: 10px  0px 10px 0px;
    margin: 0 5px;
    transition:  .3s all ease-in;
}
header ol a li:hover{
    background-color: white;
    color: black;
}
.checkBtn{
    display: none;
}
@media only screen and (max-width: 665px) {
    .checkBtn{
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: relative;
        appearance: none;
        -webkit-appearance:  none;
    }
    .checkBtn::before{
        content: '\f0c9';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        font-size: 1.5em;
        color: white;
    }
    .checkBtn:checked::before{
        content: '\f00d';
    }

    header ol{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 100;
        padding: 1.2em;
        background-color: black;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .4s clip-path;
    }
    .checkBtn:checked ~ ol{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header ol a li{
        margin: 5px 0;
    }
    header ol::before{
        content: '';
        position: absolute;
        width: 100%;
        z-index: 100;
        height: 5px;
        background-color: grey;
        top: 98%;
        left: 0;
    }
}



.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 30px;
}

.col{
    flex-basis: 50%;
}

h1{
    color: white;
    font-size: 80px;
}

p{
    color: white;
    font-size: 14px;
    line-height: 15px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.card1{
    background-image: url(https://images.unsplash.com/photo-1572252009286-268acec5ca0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}

.card2{
    background-image: url(https://images.unsplash.com/photo-1526129318478-62ed807ebdf9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
}

.card3{
    background-image: url(https://images.unsplash.com/photo-1518684079-3c830dcef090?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
}

.card4{
    background-image: url(https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1852&q=80);
}

.card5{
    background-image: url(https://images.unsplash.com/photo-1568920088183-3cce8a41a79f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1912&q=80);
}

.card6{
    background-image: url(https://images.unsplash.com/photo-1516483638261-f4dbaf036963?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1886&q=80);
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: white;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 5px #000;
    font-size: 8px;
}

